<h1>Main#playlist</h1>
<p>Find me in app/views/main/playlist.html.erb</p>


<section class="section has-background-black has-centered-text">
  <div id="playlist-container">
    <% @playlists.each do |list| %>
      <div class="playlist-item">
        <%= image_tag list.images.first["url"], size: '120x120' %>
        <%= link_to 'Play', start_path(pid: list.id) %>
      </div>
    <% end %>
  </div>
</section>
